@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
body {
  background-color: #FFDC8F;
}
svg { 
  width: 1em;
  height: 1em;
  position: absolute;
  left: -.5em; 
  top: .1em;
  border: 2px solid #fff;
}
label {
  display: inline-block;
  padding-left: 1.5em;
  position: relative;
  cursor: pointer;
  
}
input[type="checkbox"] {
  opacity: 0;
  width: 40px;
  height: 40px;
}
label svg path {
  transition: stroke-dashoffset .4s linear;
}
input[type="checkbox"]:checked ~ label svg path {
  stroke-dashoffset: 0;
}
input[type="checkbox"]:checked ~ label {
  color: orange;
  text-decoration: line-through;
}


div {
  font-size: 5em;
  margin: 3em auto;
  width: 7em;
  color: #fff;
  font-family: monospace;
}

